{% extends 'base/html.j2' %}
{% block title %}
<div class="container">
    
</div>
{{config.get("TITLE")}}
    
{% endblock %}

{% block navbar %}
    <div class="navbar container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
            <img src="Brand" alt="https://via.placeholder.com/150x50?text=BLOG">
            </a>
        </div>
    </div>
    
{% endblock %}

